header{
    margin: 1% 0;
}
.preHeader{
    display: flex;
    justify-content: space-between;

    p{
        margin: 1% 0;
        font-size: .8rem;
    }

    a{
        color: gray;
        text-decoration: none;
    }

    a:hover{
        text-decoration: underline;
    }
}

.decoLine{
    margin: 0 auto;
    width: 80%;
    border-bottom: 1px solid lightgray;
}

.mainHeader{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;

    h1{
        font-weight: 400;
        letter-spacing: -0.035em;
        margin: 10% 0;
    }
    
    a{
        text-decoration: none;
        color: black;
    }
}

.headerImageAndTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 1.6em;
    margin: 4% 0 2% 0;
}

.headerImage{
    width: 100%;
    img{
        width: 100%;
    }
}
