.newArrivals{
    display: flex;
    justify-content: center;

    .newArrivalsImage{
        width: 620px;

        img{
            width: 100%;
        }
    }
}

p{
    text-align: center;
    color: grey;
}


.getYourCupons{
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
        font-size: 15px;
        line-height: 24px;
    }



}

a.linkButton{

    background-color: #1393EA;
    border-radius: 5px;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 3%;
    width: 75%;
    height: 60px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

a.linkButton:hover{
    background-color:hsl(204, 85%, 45%) ;
}





.shoppingGrid{
    display: flex;
    flex-direction: column;
    align-items: center;

    .gridBox{
        width: 305px;
        display: flex;
        flex-direction: column;
        align-items: center;
        // height: 350px;

        p{
            font-size: 14px;
            padding: 3%;
            line-height: 18px;
        }

        a{
            height: 40px;
            font-size: 20px;
        }
    }

    .rowOne,
    .rowTwo,
    .rowThree{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: 1% 0;
    }



}